<html>
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <div>
      <h1>LISTA DE PRODUCTOS</h1>

      <% if (product) { %> <%- include('./partials/product.ejs')%><% } else { %>
      <div class="alert alert-danger" role="alert">
        Producto Inexistente <% } %>
      </div>
    </div>
  </body>
</html>
