html  
    head
        include ./partials/head.pug
    body
    div.container
        div
            h1 Ingrese Datos
            include ./partials/form.pug
            div
                a(class="btn btn-primary mt-1" href="/api/productos" ) Ver Productos