<div class="container pt-2">
  <h2 class="py-2">Inicio de sesión</h2>
  <form method="post" action="/login">
    <p>
      <input
        type="text"
        id="user"
        name="user"
        placeholder="Username"
        required
      /><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email Address"
        required
      /><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="submit" id="login" value="Login" />
    </p>
  </form>
</div>