<!-- Centro de mensajería -->
<div class="pt-2">
  <h3>Centro de mensajería</h3>
  {{! <h4 id="compresion"></h4>
  <input
    type="email"
    id="inputUsername"
    class="form-control w-50 my-2 mr-2"
    placeholder="Ingresá tu email"
  />
  <input
    type="text"
    id="inputName"
    class="form-control w-50 my-2 mr-2"
    placeholder="Ingresá tu nombre"
  />
  <input
    type="text"
    id="inputLastName"
    class="form-control w-50 my-2 mr-2"
    placeholder="Ingresá tu apellido"
  />
  <input
    type="number"
    id="inputAge"
    class="form-control w-50 my-2 mr-2"
    placeholder="Ingresá tu edad"
  />
  <input
    type="text"
    id="inputAlias"
    class="form-control w-50 my-2 mr-2"
    placeholder="Ingresá tu alias"
  />
  <input
    type="text"
    id="inputAvatar"
    class="form-control w-50 my-2 mr-2"
    placeholder="Ingresá tu avatar"
  /> }}

  <div id="mensajes"></div>

  <form id="formPublicarMensaje" class="form-inline" autocomplete="off">
    <div class="form-group">
      <input
        disabled
        id="inputMensaje"
        type="text"
        class="form-control my-2 mr-2"
        placeholder="Ingresá un mensaje..."
      />
      <button
        disabled
        id="btnEnviar"
        type="submit"
        class="btn btn-primary my-2"
      >
        Enviar mensaje
      </button>
    </div>
  </form>
</div>