<div class="mx-5 my-2">

  <h1>Desafío 11 - Mocks and Normalizr</h1>

  <div>
    <a href="/api/productos-test" class="btn btn-dark mt-1">Productos</a>
  </div>

  {{!-- {{> productsForm}} --}}
  {{! <div class="my-4" id="productos"></div> }}

  {{> messages}}

</div>