<div class='h-100 container d-flex justify-content-center align-items-center'>
	<h2 class='p-3 bg-dark rounded text-white d-flex justify-content-center'>Hasta
		la próxima
		{{username}}</h2>
</div>

<script>const redirect = () => { window.location =
	"http://localhost:8080/api/users/login"; }; setTimeout(() => { redirect(); },
	2000);</script>